{% macro langselect(id_prefix) -%}
  <div class="row">
    <div class="col-sm-6 mb-3">
      <div class="form-floating">
        <input class="form-control sync-value"
               type="text"
               value="Helsinki-NLP/opus-mt-de-en"
               data-sync-id="model"
               id="{{ id_prefix }}-model"
               name="model"
               placeholder=""
               aria-label="Translation model"
               list="models" />
        <label for="{{ id_prefix }}-model">Translation model</label>
        <datalist id="models">
          <option value="Helsinki-NLP/opus-mt-de-en"></option>
          <option value="Helsinki-NLP/opus-mt-en-de"></option>
          <option value="Helsinki-NLP/opus-mt-en-ine"></option>
          <option value="google-bert/bert-base-multilingual-cased"></option>
        </datalist>
      </div>
    </div>
    <div class="col-sm-6 mb-3">
      <div class="form-floating">
        <input class="form-control sync-value"
               type="text"
               data-sync-id="input-prefix"
               id="{{ id_prefix }}-input-prefix"
               name="input-prefix"
               placeholder=""
               aria-label="Input prefix (for multilingual models)" />
        <label for="{{ id_prefix }}-input-prefix">Input prefix (for multilingual models)</label>
      </div>
    </div>
  </div>
{% endmacro %}
{% macro glossary(id_prefix) -%}
  <div class="col-12 mb-3 accordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="{{ id_prefix }}-glossary-heading">
        <button class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target=".glossary-collapse"
                aria-expanded="false"
                aria-controls="{{ id_prefix }}-glossary-collapse">
          <label for="{{ id_prefix }}-glossary" class="m-0 form-label">Glossary</label>
        </button>
      </h2>
      <div id="{{ id_prefix }}-glossary-collapse"
           class="accordion-collapse collapse glossary-collapse"
           aria-labelledby="{{ id_prefix }}-glossary-heading">
        <div class="p-0 accordion-body">
          <textarea class="form-control filedrop-target sync-value"
                    id="{{ id_prefix }}-glossary"
                    data-sync-id="glossary"
                    name="glossary"
                    rows="5"
                    aria-describedby="{{ id_prefix }}-glossary-help-block"
                    placeholder="phrase1,translation1"></textarea>
          <div id="{{ id_prefix }}-glossary-help-block" class="m-2 form-text">
            Drop a glossary file in CSV format (without header) here,
            or type it in
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
{% macro trans_params(id_prefix) -%}
  {{ langselect(id_prefix) }}
  {{ glossary(id_prefix) }}
{% endmacro %}
<!DOCTYPE html>
<head>
  <title>LaTeXMT Web</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Calvin Hoy" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous" />
  <script id="MathJax-script"
          async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <style>
    :root {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    }

    #submitted-job {
      color: deeppink;
    }

    textarea {
      font-family: monospace;
    }

    textarea[disabled],
    input[disabled],
    select[disabled] {
      cursor: wait;
    }

    code.job-log {
      white-space: pre;
      overflow-x: scroll;
      display: block;
      width: 100%;
      height: 300px;
      padding-bottom: 10px;
      resize: vertical;
    }

    .p-0.accordion-body > textarea {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-radius: 0;
    }

    #job-list {
      table-layout: fixed;
    }
  </style>
  <script type="text/javascript"
          src="{{ url_for('static', filename='js/latexmt.js') }}"></script>
  <script type="text/javascript">
    const updateLoopInterval = 3000
    function updateLoop() {
      updateJobTable().finally(() => setTimeout(updateLoop, updateLoopInterval))
    }

    window.onload = () => {
      addFileDrop('textarea.filedrop-target')
      addValueSync('.sync-value')

      document.forms
        .namedItem('translate-text')
        .addEventListener('submit', translateText)

      document.forms
        .namedItem('translate-documents')
        .addEventListener('submit', translateDocument)

      updateLoop()
    }
  </script>
</head>
<body>
  <div style="max-width: 1200px" class="mx-auto p-4 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-3 border-bottom">
      <a href="/"
         class="d-flex align-items-center text-body-emphasis text-decoration-none">
        <span class="fs-4">\(\LaTeX{}\)MT Web</span>
      </a>
    </header>
    <main>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active"
                  id="tab-text"
                  data-bs-toggle="tab"
                  data-bs-target="#pane-text"
                  type="button"
                  role="tab"
                  aria-controls="pane-text"
                  aria-selected="true">Text</button>
        </li>
        {% if show_documents_tab %}
          <li class="nav-item" role="presentation">
            <button class="nav-link"
                    id="tab-documents"
                    data-bs-toggle="tab"
                    data-bs-target="#pane-documents"
                    type="button"
                    role="tab"
                    aria-controls="pane-documents"
                    aria-selected="false">Documents</button>
          </li>
        {% endif %}
      </ul>
      <div class="tab-content my-4">
        <div class="tab-pane show active"
             id="pane-text"
             aria-labelledby="tab-text">
          <form id="translate-text" enctype="multipart/form-data">
            {{ trans_params("text") }}
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="input" class="form-label">Input</label>
                <textarea class="form-control filedrop-target"
                          name="input_text"
                          id="input_text"
                          rows="10"
                          placeholder="Type LaTeX code or drop a file here"></textarea>
              </div>
              <div class="col-md-6 mb-3">
                <label for="translation" class="form-label">Translation</label>
                <textarea class="form-control"
                          id="output_text"
                          rows="10"
                          readonly
                          placeholder="Translated LaTeX code will appear here"></textarea>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Translate</button>
            </div>
          </form>
        </div>
        {% if show_documents_tab %}
          <div class="tab-pane" id="pane-documents" aria-labelledby="tab-documents">
            <form id="translate-documents" enctype="multipart/form-data">
              {{ trans_params("documents") }}
              <div class="col-12 mb-3">
                <label for="document" class="form-label">Input document (.tex or .zip)</label>
                <input class="form-control"
                       type="file"
                       name="document"
                       id="document"
                       aria-describedby="documentHelp" />
                <div id="documentHelp" class="form-text">We'll never share your data with anyone else.</div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-secondary">Submit job</button>
              </div>
            </form>
            <hr />
            <h3>Active jobs</h3>
            <table class="table" id="job-list">
              <colgroup>
                <col style="width: 2cm">
                <col>
                <col style="width: 2cm">
              </colgroup>
              <thead>
                <tr>
                  <th scope="col">Job ID</th>
                  <th scope="col">Status</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        {% endif %}
      </div>
    </main>
    <footer class="pt-5 my-5 text-body-secondary border-top">
      Calvin Hoy &middot; &copy; 2025 &middot;
      <a href="https://git.uibk.ac.at/csaz9385/latexmt">Source Code</a>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>
</body>
